<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
  <table>
    <thead>
    <tr>
      <th></th>
      <th>A</th>
      <th>B</th>
      <th>C</th>
      <th>D</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <th>1</th>
      <td>
        <form action="/home" method="get">
          <input type="text" name="cellA1" th:value="${A1}">
        </form>
      </td>
      <td>
        <form action="/home" method="get">
          <input type="text" name="cellB1">
        </form>
      </td>
      <td>
        <form action="/home" method="get">
          <input type="text" name="cellC1">
        </form>
      </td>
      <td>
        <form action="/home" method="get">
          <input type="text" name="cellD1">
        </form>
      </td>
    </tr>
    <tr>
      <th>2</th>
      <td>
        <form action="/home" method="get">
          <input type="text" name="cellA2">
        </form>
      </td>
      <td>
        <form action="/home" method="get">
          <input type="text" name="cellB2">
        </form>
      </td>
      <td>
        <form action="/home" method="get">
          <input type="text" name="cellC2">
        </form>
      </td>
      <td>
        <form action="/home" method="get">
          <input type="text" name="cellD2">
        </form>
      </td>
    </tr>
    <tr>
      <th>3</th>
      <td>
        <form action="/home" method="get">
          <input type="text" name="cellA3">
        </form>
      </td>
      <td>
        <form action="/home" method="get">
          <input type="text" name="cellB3">
        </form>
      </td>
      <td>
        <form action="/home" method="get">
          <input type="text" name="cellC3">
        </form>
      </td>
      <td>
        <form action="/home" method="get">
          <input type="text" name="cellD3">
        </form>
      </td>
    </tr>
    <tr>
      <th>4</th>
      <td>
        <form action="/home" method="get">
          <input type="text" name="cellA4">
        </form>
      </td>
      <td>
        <form action="/home" method="get">
          <input type="text" name="cellB4">
        </form>
      </td>
      <td>
        <form action="/home" method="get">
          <input type="text" name="cellC4">
        </form>
      </td>
      <td>
        <form action="/home" method="get">
          <input type="text" name="cellD4">
        </form>
      </td>
    </tr>
    </tbody>
  </table>
</body>
</html>