<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
<form action="/" method="post">
    <input type="submit">Кнопка</input>
<table>
    <thead>
    <tr>
        <th></th>
        <th th:each="col : ${#numbers.sequence(0, table.columns - 1)}">
            <span th:text="${#strings.toUpperCase('abcdefghijklmnopqrstuvwxyz'.substring(col, col+1))}"></span>
        </th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="row : ${#numbers.sequence(0, table.rows - 1)}">
        <td th:text="${row+1}"></td>
        <td th:each="col : ${#numbers.sequence(0, table.columns - 1)}">
            <input type="text" th:name="${row}" th:value="${table.getData(row,col)}"></input>
        </td>
    </tr>
    </tbody>
</table>
</form>
</body>
</html>